<mat-card>
  <mat-card-header>
    <mat-card-title>Material card</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>Ide írhatsz</mat-label>


      <textarea
        matInput
        id="text"
        (input)="textInput = $event.target.value"

        [disabled]="!editable"
      ></textarea>
        <!-- [(ngModel)]="textInput" -->

      <mat-checkbox name="editable" (click)="toggleEditable()"> </mat-checkbox>
      <img
        src="../assets/air-freshener-solid.svg"
        alt="Csak akkor tölthető ki a mező ha be van pipálva"
        matTooltip="Csak akkor tölthető ki a mező ha be van pipálva"
        height="30"
        width="20"
      />
      <p
        *ngIf="textInput.length > 9"
        [ngStyle]="{ color: getColor(textInput) }"
      >


        {{ textInput }}
      </p>
    </mat-form-field>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label for="textAreaColor">válassz színt:</mat-label>
      <select id="textAreaColor" [(ngModel)]="color" matNativeControl>
        <option value="blue">kék</option>
        <option value="green">zöld</option>
        <option value="yellow">sárga</option>
      </select>
    </mat-form-field>
  </mat-card-content>
</mat-card>
